
.maincontainer{
    background-color: rgb(247, 247, 247);
    margin: auto auto -5% auto;
    height: 530px;
    width: 100%;
}

.mainheader{
    margin-top: 190px;
    max-height: 280px;
}

#myVideo{
    max-width: 80%;
    height: 80%;
}

.mainheader h4 span{
    font-weight: lighter;
}

.headeranimation{
    margin-top: 10%;
    max-height: 280px;
}

.card{
    background-color: rgb(233, 236, 239);
    border: none;
}
.card i{
    color: purple;
}

.jumboimage{
    margin-top: 5%;
}

.jumboimage img{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.375) !important;
    width: 290px;
    height: 250px;
}

.jumbotext{
    margin-top: 5%;
}

.jumbotext2{
    margin-top: 7%;
}

.jumbotron{
    margin-bottom: 0;
}

.whitejumbo{
    background-color: white;
}

.projectpageheader{
    height: 10%;
}

.projectpageheader h2{
    color: black;
}

.projectpageheader h6{
    color: purple;
}

.carousel-item{
    height: 240px;
    width: 500px;
}

.carousel-control-prev, .carousel-control-next{
    background-color: transparent!important;
}

.column{
    margin-top: auto;
    margin-bottom: auto;
}

.seemore{
    margin-bottom: -10%;
}
    
.projectdescription{
    width: 90%;
}
.contact-widget-section2{
    margin-bottom: 200px;
}

.pagination{
    margin-bottom: 100px;
}

.pagination li a{
    color: purple;
}

.maindiv{
    margin: 50px 0;
    width: 100%;
    height: 450px;
    padding: 0%;
}

#maindivrow{
    height: 65%;
}

.maindiv-heading{
    color: purple;
    margin: 80px 0 0 80;
}

.maindiv-p{
    color: purple;
    margin: 10 0 0 80;
    width: 75%;
}
.wtvid video{
    margin-right: 100px;
}

u{
    color: #007bff;
}

#myVideo{
    max-width: 70%;
    height: 100%;
}

.lead .contactmedia{
    width: 90%;
}

section{
    margin: 0;
}

section .contactheader{
    color: purple;
    font-size: 3.3rem;
}

section .sectionitems{
    margin-top: 8%;
}

.contactform{
    margin-left: auto;
    margin-top: 50px;
}

form .btn{
    background-color: white;
    color: purple;
    width: 90px; 
    height: 40px;
    border: 1px solid purple;
    border-radius: 35px; 
    font-size: 14px; 
    text-align: center; 
}
form .btn:hover{
    background-color: purple;
    color: white;
    border: 2px solid purple;

}

form label{
    color: purple;
    letter-spacing: 0.4px;
}

.bottomfooter{
    max-height: 30px;
    margin-top: 0;
    border-top: 1px solid purple;
}

.bottomfooter p{
    margin-top: 13px;
}

.bottomfooter a{
    margin-right: 15px;
    border: none!important;
    text-align: center;
    font-size: 1.37rem!important;
    background-color: transparent;
}

.bottomfooter a:hover{
    background-color: transparent;
    border-bottom: 1px solid purple!important;
}

.bottomfooter a i{
    color: black;
    margin-top: 15px;
}
.p-2{
    padding-top: 0!important;
    padding-bottom: 0!important;
}


@media (max-width: 925px){
    .jumboimage img{
        width: 250px!important;
        height: 200px;
        margin: 50px auto 0px auto;
    }
}

@media (max-width: 768px){
    .maincontainer{
        background-color: rgb(247, 247, 247);
        text-align: center;
        margin: auto auto -5% auto;
        height: 550px;
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-link{
        font-size: 1rem;
    }
    .mainheader{
        width: 75%;
        margin: auto;
    }
    .mainheader h4{
        font-size: 1.4rem;
    }
    .headeranimation{
        margin-top: 30px;
    }
    .card i{
        font-size: 1.3rem;
    }
    .card h3{
        font-size: 1.5rem;
    }
    .card footer{
        font-size: 1rem;
    }
    .jumbotext{
        margin-top: 20px;
    }
    .jumbotext p{
        font-size: 1.1rem;
        margin-top: 0;
        width: 550px;
    }
    .jumbotext2{
        margin-top: 50px ;
    }
    .jumbotext2 p{
        font-size: 1.2rem;
        width: 550px;
    }
    .jumboimage img{
        width: 450px!important;
        height: 350px;
        margin: 50px auto 0px auto;
    }
    footer p{
        font-size: 0.8rem;
    }
    .fa{
        font-size: 0.9rem;
    }
    .bottomfooter{
        max-height: 20px;
        border-top: 1px solid purple;
        align-items:center ;
    }
    .bottomfooter p{
        margin-bottom: auto;
        font-size: 1.15rem;
    }
    .bottomfooter .bd-highlight{
        margin-bottom: auto;
    }
    .bottomfooter i{
        font-size: 1.2rem;
    }
    .bottomfooter a:hover{
        text-decoration: underline;
        text-decoration-color: 1px solid purple;
    }
    .projectdescription{
        width: 100%!important;
    }
    .projectpageheader h2{
        font-size: 1.7rem;
    }
    .projectpageheader h6{
        font-size: 0.9rem;
    }
    .projectdescription h4{
        text-align: center;
        font-size: 1.3rem;
    }
    .projectdescription p{
        text-align: center;
        font-size: 0.9rem;
    }
    .seemore{
        text-align: center;
    }
    .column p a{
        font-size: 0.9rem;
    }
    .maindiv{
        height: 300px!important;
    }
    .projectslide{
        margin-top: 100px;
    }
    .newcolumn{
        margin-top: -400px;
    }
    .newprojectslide{
        margin-top: 150px;
    }
    .pagination{
        margin-bottom: 50px;
    }
    .carousel{
        align-items: center;
        width: 400px;
        margin: 0 auto 0 auto;
    }
    .carousel-inner{
        width: 400px;
    }
    #myvideo{
        height: 300px;
    }
    .maindiv-heading{
        margin: 0;
        text-align: center;
        font-size: 2.4rem;
    }
    .maindiv-p{
        margin: auto;
        width: 80%;
        text-align: center;
        font-size: 1.4rem;
    }
    .wtvid{
        margin: 70px auto 50px 100px;
    }
    .contact-widget-section2{
        margin-bottom: 0;
    }
    .Material-contact-section{
        margin-top: 250px;
    }
    section .sectionitems{
        margin-top: 0;
    }
    .contactform button{
        margin: 10px 200px auto auto;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
    .maincontainer{
        background-color: rgb(247, 247, 247);
        text-align: center;
        margin: auto auto -5% auto;
        height: 500px;
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-link{
        font-size: 0.85rem;
    }
    .mainheader h4{
        font-size: 1.4rem;
    }
    .headeranimation{
        margin-top: 20px;
    }
    .card i{
        font-size: 1.2rem;
    }
    .card h3{
        font-size: 1.4rem;
    }
    .card footer{
        font-size: 0.9rem;
    }
    .jumbotext{
        margin-top: 20px;
    }
    .jumbotext p{
        font-size: 1.1rem;
        margin-top: 0;
        width: 500px;
    }
    .jumbotext2{
        margin-top: 50px ;
    }
    .jumbotext2 p{
        font-size: 1.2rem;
        width: 500px;
    }
    .jumboimage img{
        width: 400px !important;
        height: 350px;
        margin: 50px auto 0px auto;
    }
    footer p{
        font-size: 0.8rem;
    }
    .fa{
        font-size: 0.9rem;
    }
    .bottomfooter{
        max-height: 15px;
        border-top: 1px solid purple;
        align-items:center ;
    }
    .bottomfooter p{
        margin-bottom: auto;
        font-size: 1rem;
    }
    .bottomfooter i{
        font-size: 1rem;
    }
    .projectdescription{
        text-align: center;
        width: 90%!important;
        margin-left: 30px;
    }
    
    .maindiv{
        height: 300px!important;
    }
    .projectslide{
        margin-top: 100px;
    }
    .pagination li a{
        font-size: 12px;
    }
    .carousel{
        align-items: center;
        width: 350px;
        margin: 0 auto 0 auto;
    }
    .carousel-inner{
        width: 350px;
    }
    #myvideo{
        margin-top: 0px;
        height: 290px;
    }
    .maindiv-heading{
        margin: 0;
        text-align: center;
        font-size: 2.3rem;
    }
    .maindiv-p{
        margin: auto;
        width: 75%;
        text-align: center;
        font-size: 1.3rem;
    }
    .wtvid{
        margin: 70px auto 50px 100px;
    }
    .contact-widget-section2{
        margin-bottom: 0;
    }
    .Material-contact-section{
        margin-top: 300px;
    }
    .contactheader p{
        font-size: 2.3rem;
    }
    .embed-responsive{
        height: 200px!important;
        margin: 50px auto;
    }
    form label{
        margin-left: 53px;
    }
    .form-control{
        width: 80%;
        margin: auto
    }
    .contactform button{
        margin: 10px 200px auto auto;
    }
} 
@media (max-width: 575px){
    .column{
        margin-top: 50px;
    }
    .newcolumn{
        margin-top: -420px;
    }
    .newprojectslide{
        margin-top: 170px;
    }
}

@media (max-width: 520px){
    .maincontainer{
        height: 380px;
    }
    .mainheader h4{
        margin-top: 30px;
        font-size: 1.2rem;
    }
    .headeranimation{
        margin-top: 0;
    }
    .jumbotext p{
        font-size: 0.9rem;
        width: 420px;
        margin-bottom: 0;
    }
    .jumbotext2 p{
        font-size: 0.9rem;
        width: 420px;
    }
    .jumboimage img{
        width: 290px!important;
        height: 250px;
        margin-top: 30;
    }
    .jumboimage{
        margin-top: 0px;
    }
    .bottomfooter p{
        font-size: 0.9rem;
    }
    .bottomfooter a{
        margin-right: .3rem;
    }
    .maindiv-heading{
        font-size: 2rem;
    }
    .maindiv-p{
        margin: auto;
        width: 75%;
        text-align: center;
        font-size: 1rem;
    }
    .wtvid{
        margin: 40px auto 0px 150px;
    }
    .contact-widget-section2{
        margin-bottom: 0;
    }
    .Material-contact-section{
        margin-top: 200px;
    }
    #myVideo{
        max-width: 230px;
    }
    .contact-widget-section2{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px!important;
    }
    .projectpageheader h2{
        font-size: 1.6rem;
    }
    .projectpageheader h6{
        font-size: 1rem;
    }
    .projectslide{
        margin-top: 70px;
    }
    .column{
        margin-top: -10px;
    }
    .newcolumn{
        margin-top: -420px;
    }
    .newprojectslide{
        margin-top: 100px;
    }
    .jumbotron .row{
        margin-top: 20px;
    }
    form label{
        margin-left: 47px;
    }
    .contact-widget-section2{
        margin-bottom: 0;
    }
    .projectdescription h4{
        font-size: 1.3rem;
    }
    .contactform button{
        margin: 10px 160px auto auto;
    }
    .contactheader p{
        font-size: 2.1rem;
    }
}

@media (max-width: 450px){
    .bottomfooter p{
        font-size: 0.75rem;
    }
    .bottomfooter .bd-highlight{
        font-size: 0.3rem;
    }
    .contactform button{
        margin: 10px 120px auto auto;
    }
    .maindiv-p{
        font-size: 1rem;
    }
    #myVideo{
        max-width: 200px;
    }
    .wtvid{
        margin: 20px auto 0 130px;
    }
    .contactform{
        margin-top: 10px;
    }
    form label{
        margin-left: 35px;
    }
    .column{
        margin-top: -10px;
    }
    .newcolumn{
        margin-top: -420px;
    }
    .newprojectslide{
        margin-top: 100px;
    }
    .jumbotext p{
        width: 380px;
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .jumbotext2 p{
        width: 380px;
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .jumbotron .row{
        margin-top: 0px;
    }
}

@media (max-width: 400px){
    .navbar-light .navbar-nav .nav-link{
        margin-right: 10px;
    }
    .bottomfooter p{
        font-size: 0.6rem;
    }
    .bottomfooter .bd-highlight{
        font-size: 0.2rem;
    }
    .jumbotext p{
        width: 320px;
        font-size: 0.9rem;
        line-height: 1.15rem;
    }
    .jumbotext2 p{
        width: 320px;
        font-size: 0.9rem;
        line-height: 1.15rem;
    }
    .jumbotron .row{
        margin-top: 0px;
    }
    .Material-contact-section{
        margin-top: 150px;
    }
    .contactform button{
        margin: 10px 120px auto auto;
    }
    .maindiv-p{
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    #myVideo{
        max-width: 200px;
    }
    .wtvid{
        margin: 20px auto 0 100px;
    }
    .carousel{
        width: 290px;
        height: 220px;
    }
    .carousel-inner{
        width: 290px;
        height: 220px;
    }
    .newprojectslide{
        margin-top: 150px;
    }
    .column{
        margin-right: 20px;
    }
    .newcolumn{
        margin-top: -450px;
        margin-right: 20px;
    }
    .contactform{
        margin-top: 10px;
    }
    .contactform button{
        margin: 10px 110px auto auto;
        height: 35px;
        padding-top: 3.5px;
    }
    form label{
        margin-left: 35px;
    }
}
@media (max-width: 360px){
    .navbar{
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 0.7rem;
        margin-right: 10px;
    }
    .column{
        padding-left: 0;
    }
    .projectdescription h4{
        font-size: 1.2rem;
    }
    .projectdescription p{
        font-size: 0.7rem;
        line-height: 0.9rem;
    }
    .seemore{
        margin-top: -10px;
        margin-left: 40px;
    }
    .carousel{
        width: 250px;
        height: 180px;
    }
    .carousel-inner{
        width: 250px;
        height: 180px;
    }
    .carousel-item img{
        width: 100%;
    }
    .projectslide{
        margin-top: 50px;
    }
    .mainheader h4{
        font-size: 1.1rem;
    }
    .headeranimation{
        margin-top: -50px;
        height: 200px;
    }
    .jumbotext{
        margin-top: 0;
    }
    .jumbotext p{
        width: 270px;
        font-size: 0.85rem;
        line-height: 1.05rem;
    }
    .jumbotext2 p{
        width: 270px;
        font-size: 0.85rem;
        line-height: 1.05rem;
    }
    .jumboimage img{
        width: 230px!important;
        height: 210px;
    }
    .jumbotron .row{
        margin-top: 0px;
    }
    .projectpageheader h2{
        font-size: 1.3rem;
    }
    .projectpageheader h6{
        font-size: 0.8rem;
    }
    .bottomfooter p{
        font-size: 0.55rem;
    }
    .bottomfooter .bd-highlight{
        font-size: 0.1rem;
    }
    .bottomfooter a i{
        font-size: 1rem;
    }
    .bottomfooter .bd-highlight .text-right{
        padding-left: 0px;
        margin-right: 5px;
    }
    .contactform button{
        height: 30px;
        margin: 10px 95px auto auto;
        padding-top: 3.5px;
    }
    .maindiv-heading{
        font-size: 1.8rem;
    }
    .maindiv-p{
        font-size: 0.8rem;
    }
    #myVideo{
        max-width: 200px;
    }
    .wtvid{
        margin: 20px auto 0 70px;
    }
    .contactheader p{
        font-size: 1.7rem;
    }
    .contactform{
        margin-top: 10px;
    }
    .Material-contact-section{
        margin-top: 130px;
    }
    .embed-responsive{
        width: 230px;
        margin-bottom: 0;
    }
    form label{
        margin-left: 30px;
    }
    .column{
        margin-top: 50px;
    }
    .newcolumn{
        margin-top: -330px;
    }
    .newprojectslide{
        margin-top: 140px;
    }
}
@media (max-width: 340px){
    .contactform button{
        height: 30px;
        margin: 10px 85px auto auto;
        padding-top: 3.5px;
    }
}